<div class="w-full max-w-xs m-6">
    <div class="dark:bg-gray-900 text-white p-3" id="title">
        <h1>Chat de Tenda</h1>
    </div>
    <div class="dark:bg-gray-600 text-white p-2">
          <span>Welcome <span id="user" class="text-yellow-500"></span></span>
    </div>
<div class="h-40 border-2 border-gray-900">
    <div id="messageLogs"></div>
</div>
<div class="mt-2">
<input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="chatBox" placeholder="Write your message">
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/content/js/chat.js"></script>
