<div class="max-w-3xl m-4">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    First name
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Email
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        Role
                    </div>
                </th> 
            </tr>
        </thead>
        <tbody>
          {{#each users}}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{this.first_name}}
                </th>
                <td class="px-6 py-4" type="email">
                    {{this.email}}
                </td>
            <td class="px-6 py-4" type="email">
                    {{this.role}}
                </td>
            
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>
  </div>
  <div class="max-w-md m-5">  
    <div class="mb-6 ">
    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
    >Write the user email</label>
    <input
      type="email"
      id="user-email"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="access-levels"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Select an option</label>
    <select
      id="access-levels"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option selected>Choose a level</option>
      <option value="ADMIN">ADMIN</option>
      <option value="PREMIUM">PREMIUM</option>
      <option value="USER">USER</option>
    </select>

  </div>
  <button
    type="button"
    id="changeAccessLevel"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >Confirm</button>

  <button
    type="button"
    id="deleteUser"
    class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
  >Delete</button>
 
</div>
</div>
<script src="/content/js/session.js"></script>